---
layout: post
title: Peace of Mind Fitness
description: ""
tags: martial-arts 
---

<div class='container index'>
  <div class='row'>
    <div class='col-sm-3'>
      {% include fitness_sub_nav.html %}	        
    </div>
    <div class='col-sm-9 wide-padding'>
      <div class='extra-top-margined'>
        <article class='post top-bar'>
          <div class='section centered'>
            <h2 class='orange centered papy'>
              Fitness
            </h2>
          </div>

          <div class='top-margined centered'>
            <img src="/images/bios/mackenzie_1.jpg" class='constrained'>
          </div>

          <a name='rebalancing' class='extra-top-margined transparent hidden-xs'>.</a>

          <div class='section centered'>
            <h3 class='orange centered papy'>
              Muscular Rebalancing
            </h3>
          </div>

          <div class='display-copy'>
            Rebalancing is proactive strength training focused on developing and maintaining good postural alignment and functional motor patterns, utilizing a wide range of movement practices and corrective exercises. 
          </div>

          <div class='display-copy'>
            We all have muscle imbalances throughout our bodies, usually due to consistently performing specific tasks and activities. If we choose to ignore these strength and flexability imbalances, we are much more susceptible to injuries.
          </div>

          <div class='display-copy'>
            Over the past 16 years I have overcome many serious injuries and have successfully rehabilitated both ACL ligaments in my knees, an AC ligament separation in my shoulder and carpel tunnel in both wrists.
          </div>

          <div class='display-copy'>
            Most people wait until they are injured to begin doing rehabilitation exercises. If you prepare for breakdowns, you can avoid spending lots of time and money recovering from a preventable condition. 
          </div>

          <div class='display-copy'>
            Today's work environment, full of technology and automation, has also contributed to  a growing number of physically inactive and dysfunctional people. The average working professional sits in an unnatural posture for hours at a time, and is required to move very little on a daily basis. This decrease in activity and prolonged sitting posture often leads to muscular dysfunction, including low back pain, knee injuries, musculoskeletal injuries, and chronic diseases such as obesity, cardiovascular diseases, arthritis, and diabetes.
          </div>

          <div class='display-copy'>
            It is wise to combat these negative effects by actively working to discover and correct neuromuscular imbalances in the body. This will greatly reduce your risk of injury, improve your postural alignment, and allow you the freedom to do the activities you love.
          </div>

          <div class='display-copy'>
            To accomplish this, we must first perform an overall fitness evaluation and assess your abilities, strengths and weaknesses. Then, it is important to re-balance the body and prepare for the next level of activity in your progression. After the rebalancing phase, I will continue to show you how to make fitness fun and enjoyable. I will teach you how to utilize your surrounding environment to achieve your fitness goals.
          </div>

          <div class='display-copy'>
            To attain and keep results, you must be consistent. By enjoying your fitness activities you will strengthen your success formula. I believe that if you view working out as play, the path to wellness and balance will follow.
          </div>


          <a name='strength-coaching' class='extra-top-margined transparent hidden-xs'>.</a>

          <div class='section centered'>
            <h3 class='orange centered papy'>
              High Performance Strength Coaching
            </h3>
          </div>

          <div class='display-copy'>
            I utilize exercise science strategies employed by world renowned strength coach Charles Poliquin and movement expert Ido Portal, coupled with "Action Strength", a complete function fitness training system developed by Jeet Kune Do master Sifu Harinder Singh Sabharwal.  
          </div>

          <div class='display-copy'>
            Action Strength is a unique martial arts-based approach to develop your power and mobility. It combines kettlebells, mace, body weight and martial arts movements to enhance strength, endurance, agility, flexibility and balance.  You will learn to align the mind-body-spirit connection through proper focus of breath, posture, and intent using Tai-Chi, Qi-Gong, Filipino Kali/Escrima, and the Ancient Indian art of Maya Vidyea. 
          </div>

          <div class='display-copy'>
            These fitness systems and strategies are designed to create the super athlete and will help you reach your highest potential.
          </div>


          <a name='activity-coaching' class='extra-top-margined transparent hidden-xs'>.</a>

          <div class='section centered'>
            <h3 class='orange centered papy'>
              Activity Coaching and Sport Specific Training
            </h3>
          </div>

          <div class='display-copy'>
            It is important to find activities that you enjoy, making it easier for you to be consistent. Customized creative fitness programs are based on your interests and tailored for your success. Cross-training in multiple sports will enhance your coordination, agility, strength, and balance. Incorporating activity into your daily routine can preserve the body's range of motion and increase the quality of your life. <span class='orange'>Your program may include many of the following activities:</span>
          </div>

          <ul class='display-copy'>
            <li>Basketball </li>
            <li>Body weight training</li>
            <li>Boxing</li>
            <li>Coordination & footwork drills</li>
            <li>Cycling on & off road</li>
            <li>Disc golf</li>
            <li>Energy drills & sparring</li>
            <li>Frisbee</li>
            <li>Ground fighting drills</li>
            <li>Hacky sack</li>
            <li>Hiking</li>
            <li>Jump training</li>
            <li>Kicking drills</li>
            <li>Mala Vidyea</li>
            <li>Martial arts  (Small Circle Ju Trap Boxing, Kali/Escrima, Kung Fu - Wing Chun, Muay Thai, Savate, Jiu-Jitsu, Kina Mutai, Dumog, Tai Chi, Pananjakaman, Panantukan)</li>
            <li>Rappelling</li>
            <li>Rock climbing & bouldering</li> 
            <li>Roller blading</li>
            <li>Slack lining</li>
            <li>Speed & obstacle courses</li>
            <li>Sprint training</li>
            <li>Stick & knife drills / sparring</li>
            <li>Tennis</li>
            <li>Yoga</li>
            <li>Weight training</li>
          </ul>

          </div>

          {% include footer.html %}

        </article>
      </div>
    </div>
  </div>
</div>
