---
layout: home
title: Peace of Mind
description: "A Journey to Happiness through Martial Arts and Athletics."
tags: martial-arts 
---

<div class='col-sm-8 center-block no-float jumbo-top'>
  <div class='top-margined centered'>
    <img src="/images/{{ site.owner.avatar }}" class="profile centered">
  </div>

  <div class='top-margined centered scripted'>
    <span class='hello papy'>Peace of Mind</span>
  </div>

  <div class="display-copy">
    Welcome, I'm Tim Richards, a Martial Artist and Athletics Coach. Peace of Mind is the manifestation of my life's progression to happiness through the path of athletics and martial arts.
  </div>

  <div class="display-copy">
    My background has roots with the martial arts leaders and communities of Wing Chun, Jeet Kune Do, Small Circle Jiu Trap Boxing, Phillipino Stick and Knife Arts and many more.  I am a Certified Strength Coach and I possess a deep knowledgebase in Excercise Science. Transforming people into content and happy beings through Fitness and Martial Arts is my passion.   
  </div>
    
    
  <div class="display-copy">
    Peace of Mind offers private and small-group classes in Martial Arts and Athletic Fitness.  Group classes range $25-35 and private sessions approx $75/hr.  I offer trades and discounts for many reasons and am open to negotiating many arrangements with passionate students.  Classes meet at my Dojo near Post and Leavenworth during week days/nights, weekends and via private scheduling.
  </div>

  <div class="display-copy">
    Please contact me directly to join a class and connect with the community. 
  </div>

  <div class="display-copy">
    <div class="centered">
      cell <span class='green'>415-608-3723</span> or email <a href="mailto:sifutimr@gmail.com">sifutimr@gmail.com</a>
    </div>
  </div>
  <div class="display-copy">
    <div class="centered papy orange">
      MUCH LOVE & THANK YOU
    </div>
  </div>

  <!-- <div class='top-margined centered'> -->
  <!--   <img src="/assets/images/brand-logo.jpg" class="centered brand"> -->
  <!-- </div> -->


  <!-- <div class='top-margined'> -->
  <!--   <div class='topic'>Some of my thoughts about Programming.</div> -->
  <!--   {% for post in site.posts %} -->
  <!--     {% if post.tags contains 'programming' %} -->
  <!--       {% if post.tags contains 'thoughts' %} -->
  <!--         <div><a href="{{post.url}}" class='post'>{{ post.title }}</a></div> -->
  <!--       {% endif %} -->
  <!--     {% endif %} -->
  <!--   {% endfor %} -->
  <!-- </div> -->
  <!-- <div class='top-margined'> -->
  <!--   <div class='topic'>Some of my thoughts about  Products.</div> -->
  <!--   {% for post in site.posts %} -->
  <!--     {% if post.tags contains 'products' %} -->
  <!--       {% if post.tags contains 'thoughts' %} -->
  <!--       <div><a href="{{post.url}}" class='post'>{{ post.title }}</a></div> -->
  <!--       {% endif %} -->
  <!--     {% endif %} -->
  <!--   {% endfor %} -->
  <!-- </div> -->
  <!-- <div class='top-margined'> -->
  <!--   <div class='topic'>Some of my thoughts about Prosperity.</div> -->
  <!--   {% for post in site.posts %} -->
  <!--     {% if post.tags contains 'prosperity' %} -->
  <!--       {% if post.tags contains 'thoughts' %} -->
  <!--         <div><a href="{{post.url}}" class='post'>{{ post.title }}</a></div> -->
  <!--       {% endif %} -->
  <!--     {% endif %} -->
  <!--   {% endfor %} -->
  <!-- </div> -->
</div>
