---
layout: post
title: Peace of Mind Pricing
description: ""
tags: martial-arts 
---

<div class='container index'>
  <div class='row'>
    <div class='col-sm-3'>
      {% include pricing_sub_nav.html %}	        
    </div>
    <div class='col-sm-9 wide-padding'>
      <div class='extra-top-margined'>
        <article class='post top-bar'>

          <a name='martial-arts' class='extra-top-margined transparent'>.</a>

          <div class='section'>
            <h2 class='orange centered papy'>
              <a class='orange target'>Group Martial Arts Classes</a>
            </h2>
            <div class='vert-margined centered'>
              <img src="/images/group_martial_arts.jpg" class='card'/>
            </div>
            <div class='display-copy'>
              <div class='centered'>
                Tues & Thurs 7pm-8:30pm
              </div>
              <div class='centered'>
                DropIn Session $30.
              </div>
              <div class='centered'>
                4 Sessions for $110 or 8 for $200 (monthly).
              </div>
            </div>
          </div>

          <div class='section'>
            <h2 class='orange centered papy'>
              <a class='orange target'>Private Martial Arts Training</a>
              
            </h2>
            <div class='vert-margined centered'>
              <img src="/images/timbrian2.jpg" class='card'/>
            </div>

            <div class='display-copy centered'>
              <div class='centered'>
                $70 per 1 hour session or $650 for 10 Sessions.
              </div>
            </div>
          </div>

          <a name='fitness' class='extra-top-margined transparent'>.</a>

          <div class='section'>
            <h2 class='orange centered papy'>
              <a class='orange target'>Group Fitness Training</a>
            </h2>

            <div class='vert-margined centered'>
              <img src="/images/group_fitness_training.jpg" class='card'/>
            </div>

            <div class='display-copy centered'>
              <div class='centered'>
                $85 per 1 hour session or $800 for 10 Sessions.
        fitness class drop in $40 / monthly 4 X $120
              </div>
            </div>
          </div>

          <div class='section'>
            <h2 class='orange centered papy'>
              <a class='orange target'>One-on-One Personalized Fitness Training</a>
              
            </h2>

            <div class='vert-margined centered'>
              <img src="/images/private_fitness_training.jpg" class='card'/>
            </div>

            <div class='display-copy'>
              <div class='centered'>
                Tues & Thurs 7pm-8:30pm
              </div>
              <div class='centered'>
                DropIn Session $40.
              </div>
              <div class='centered'>
                4 Sessions for $120(monthly).
              </div>
            </div>
          </div>

        </div>
          {% include footer.html %}
        </article>

      </div>
    </div>
  </div>
</div>
