<div class='profile-card hidden-xs'>
  <div>
    <a href='/'><img src="/assets/images/POM_Logo_v9_orange325b.png" class='profile small'></a>
  </div>
  <div>
    <h5>
      <a href="#bios" class='post'>Biographies</a>
    </h5>
  </div>
  <div>
    <h5>
      <a href="#videos" class='post'>Videos</a>
    </h5>
  </div>
  <div>
    <h5>
      <a href="#kids" class='post'>Kids</a>
    </h5>
  </div>
  <div>
    <h5>
      <a href="#testimonials" class='post'>Testimonials</a>
    </h5>
  </div>
</div>
