<ul class='display-copy'>
 
  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Ask about free consultations</font></li>

  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Average session length is approximately 1 hour</font></li>

  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Train at my fitness studio, your office, outdoors, or your home</font></li>

  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Installment payment options, and discounted pricing available  </font></li>
  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">20% discount for Military, Law Enforcement Officers (LEO), &amp; Firefighters </font></li>
  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Inquire about trades</font></li>
  <br>

  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Progressive Fighting Systems Certified Full Instructor </font></li>

  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Jeet Kune Do Athletic Association Certified Full Instructor</font></li>

  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">ACT Certified Personal Trainer </font></li>

  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">CPR / AED Certified  </font></li>

  <li type="square"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> Fully Insured </font></li>

</ul>
