<h3 class='red'>The Fine Print</h3>

<div class='top-margined'>
  <span class='red'>Particular Disclaimer:</span> This tutorial isn't intended to be 100% every single step you need to take to make things work, this tutorial will help you create a mental model for how graphql and relay keep track of data, above all, the source code has all the details required to make the application work its magic.
</div>

<div class='top-margined'>
  <span class='red'>Other Particular Disclaimer:</span> I don't intend for this tutorial to be the 'right' or 'perfect' or 'best' way to do something.  This tutorial is 'a' way to get a desired result.  If you desire a different result or a different way of getting the same result, feel free to do that.
</div>

<div class='top-margined'>
  <span class='red'>General Disclaimer:</span> Things change, operating environments aren't all the same, people have different ideas about things, people are wrong, people are right, things don't always add up and when in doubt, look at the source code.
</div>
