<div class="slider top-margined hide" id='example-work'>

  <div class='centered'>
    <img src="/assets/images/work/happilabs.jpg" />
    <span class="caption">Client: Scientific laboratory management services, built with Rails, React, Relay/Graphql, Spring 2016.</span>
  </div>

  <div class='centered'>
    <img src="/assets/images/work/antipattern.jpg" />
    <span class="caption">Founder: Antipattern.io, code review focused community, Rails/React/Angular, Spring 2015.</span>
  </div>

  <div class='centered'>
    <img src="/assets/images/work/wine_app.jpg" />
    <span class="caption">Client: Private, Wine e-commerce + boxbee like storage engine, Rails/React, Summer 2015.</span>
  </div>

  <div class='centered'>
    <img src="/assets/images/work/brightwheel.jpg" />
    <span class="caption">Client: Mybrightwheel.com, Built web front-end and extensive serverside logic, Rails/Backbone, Spring 2015.</span>
  </div>
  
  <div class='centered'>
    <img src="/assets/images/work/common_stake.jpg" />
    <span class="caption">Client: Private, Yelp(y) + Reddit(y) hybrid for web based CSR content, Rails/Angular, Winter 2014.</span>
  </div>

  <div class='centered'>
    <img src="/assets/images/work/codeunion.jpg" />
    <span class="caption">Founder: CodeUnion.io, code review driven programming learning experience, Spring 2014.</span>
  </div>

  <div class='centered'>
    <img src="/assets/images/work/rubyonrailstutor.jpg" />
    <span class="caption">Founder: Rubyonrailstutor.com, online small group pair programming learning experience, Fall 2013.</span>
  </div>

  <div class='centered'>
    <img src="/assets/images/work/threadflip.jpg" />
    <span class="caption">Client: ThreadFlip.com, built e-commerce and customer facing features, Rails/Backbone, Summer 2013.</span>
  </div>

  <div class='centered'>
    <img src="/assets/images/work/trueandco.jpg" />
    <span class="caption">Client: TrueandCo.com, built e-commerce and customer facing features, Rails/Spine, Spring 2013.</span>
  </div>
</div>
