<div class='top-margined'>


  <div class="display-copy">
    <div class="centered">
      cell <span class='green'>415-608-3723</span> or email <a href="mailto:sifutimr@gmail.com">sifutimr@gmail.com</a>
    </div>
  </div>

  {% include nav.html %}          

  <div class="display-copy">
    <div class="centered papy orange">
      MUCH LOVE & THANK YOU
    </div>
  </div>

  <div class='centered top-margined'>
    <div class="fb-page" data-href="https://www.facebook.com/sifutim/" data-tabs="timeline" data-width="225" data-height="50" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/sifutim/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/sifutim/">Peace of Mind</a></blockquote></div>
  </div>
</div>
