<title>{{page.title}}</title>

  <meta name="author" content="John Davison">
  <meta name="keywords" content="{{ page.tags | join: ', ' }}">
  <meta name="google-site-verification" content="{{ site.google_verify }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='og:url' property="og:url" content="{{site.url}}{{page.url}}">
  <meta name='og:title' property="og:title" content="{{page.title}}">
  <meta name='og:site_name' property="og:site_name" content="{{site.name}}">

  <link type='text/css' rel="stylesheet" href="/assets/css/normalize.css">
  <link type='text/css' rel="stylesheet" href="/assets/css/sss.css">
  <link type='text/css' rel="stylesheet" href="/assets/css/highlight.css">
  <link type='text/css' rel="stylesheet" href="/assets/css/main.css">
