<title>{{page.title}}</title>
<meta name="author" content="Sifu Tim Richards">
<meta name='og:title' property="og:title" content="{{page.title}}">

<meta name='og:url' property="og:url" content="{{site.url}}{{page.url}}">

<meta name='og:site_name' property="og:site_name" content="{{site.name}}">

<meta name='og:description' property="og:description" content="{{page.description}}">
<meta name="description" content="{{page.description}}">

<meta name='og:image' property="og:image" content="{{site.url}}/assets/images/peace_of_mind.jpg">

<meta name="keywords" content="Self Defense Instructor, Personal Trainer, Personal Training, San Francisco, Jeet Kune Do, Descendants of the Masters, JKD, SF, Progressive Fight Systems instructor, PFS,  JKD instructor, R.A.T., personal Martial Arts instruction, Disc golf instruction, disc golf instructor, wellness, healing, martial arts, activity coaching, motivation, weapons training, progressive fighting sytems, rebalancing, strengthening, fitness, boxing, kali, kino mutai, health, physical fitness, slack lining, Kung FU, body weight training, weight training, kino mutai, small circle ju jitsu, small circle ju trap boxing">


<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
