
<!-- <meta name="google-site-verification" content="{{ site.google_verify }}"> -->
<!-- <meta name='og:url' property="og:url" content="{{site.url}}{{page.url}}"> -->
<!-- <meta name='og:title' property="og:title" content="{{page.title}}"> -->
<!-- <meta name='og:site_name' property="og:site_name" content="{{site.name}}"> -->
<!-- <meta name='og:description' property="og:description" content="{{page.description}}"> -->
<!-- <meta name="description" content="{{page.description}}"> -->
<!-- <meta name='og:image' property="og:image" content="{{site.url}}/assets/images/share/startuplandia.png"> -->
<!-- <meta property="og:app_id" content="455876564617003"> -->

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="Self Defense Instructor, Personal Trainer, Personal Training, San Francisco, Jeet Kune Do, JKD, SF, Progressive Fight Systems instructor, PFS,  JKD instructor, R.A.T., personal Martial Arts instruction, Disc golf instruction, disc golf instructor, wellness, healing, martial arts, activity coaching, motivation, weapons training, progressive fighting sytems, rebalancing, strengthening, fitness, boxing, kali, kino mutai, health, physical fitness, slack lining, Kung FU, body weight training, weight training, kino mutai, small circle ju jitsu, ju trap boxing, ">
<meta name="keywords" content="Self Defense Instructor, Personal Trainer, Personal Training, San Francisco, Jeet Kune Do, Descendants of the Masters, JKD, SF, Progressive Fight Systems instructor, PFS,  JKD instructor, R.A.T., personal Martial Arts instruction, Disc golf instruction, disc golf instructor, wellness, healing, martial arts, activity coaching, motivation, weapons training, progressive fighting sytems, rebalancing, strengthening, fitness, boxing, kali, kino mutai, health, physical fitness, slack lining, Kung FU, body weight training, weight training, kino mutai, small circle ju jitsu, small circle ju trap boxing">
