  {% if page.description %}
  <meta name="description" content="{{page.description}}">
  <meta name='og:description' property="og:description" content="{{page.description}}">
  {% else %}
  <meta name="description" content="General thoughts on programming, products and prosperity.">
  <meta name='og:description' property="og:description" content="General thoughts on programming, products and prosperity.">
  {% endif %}
  {% if page.preview_image %}
  <meta name='og:image' property="og:image" content="{{site.url}}/assets/images/share/{{page.preview_image}}">
  {% else %}
  <meta name='og:image' property="og:image" content="{{site.url}}/assets/images/share/startuplandia.png">
  {% endif %}
  <meta name='og:type' property="og:type" content="article">
  <meta property="og:app_id" content="455876564617003">
