<div id="primary-slider" class="carousel slide hide" data-interval="false">
  <div class="carousel-inner" role="listbox">
      {% for image in site.static_files %}
          {% if image.path contains 'images/slider' %}
          <div class='item primary' >
              <img src="{{ image.path }}" class=' center-block' />
          </div>
          {% endif %}
      {% endfor %}
  </div>

  <a class="left carousel-control" href="#primary-slider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>

  <a class="right carousel-control" href="#primary-slider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>
