<div class='profile-card'>
  <a href='/'><img src="/images/{{ site.owner.avatar }}" class="profile small"></a>
  <br/>
  <span class="red">
    <time datetime="{{ include.page.date | date_to_xmlschema }}">{{ include.page.date | date: "%B %d, %Y" }}</time>
  </span>
  <br/>
  <span><a href="https://twitter.com/startuplandia" target='new'>twitter.com/startuplandia</a></span>
  <br/>
  <span><a href="mailto:jd@startuplandia.io">jd@startuplandia.io</a></span>
  <br/>
  <span><a href="/posts/portfolio">portfolio</a></span>
  <br/>
  <span><a href="/posts">all posts</a></span>
</div>
