<div class='top-margined centered'>
  <h2 class='orange centered papy'>
    <a name='videos' class='orange target'>Videos</a>
  </h2>
</div>

<div class='vert-margined centered'>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0lnVQ3pBlm8" frameborder="0" allowfullscreen></iframe>
</div>

<div class='vert-margined centered'>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/d96sh5Wn8tg" frameborder="0" allowfullscreen></iframe>
</div>

<div class='vert-margined centered'>
  <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=peaceofmindsf" width="480" height="400" frameBorder="0"></iframe>
</div>
