.sss {
    height: 300;
    width: 650;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: block;
    overflow: hidden;
}

.ssslide {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
}

.ssslide img {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: 300;
    max-width: 650;
}

.frame {
    height: 300;      /* equals max image height */
    width: 650;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
}

.slide-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* img { */
/*     background: #3A6F9A; */
/*     vertical-align: middle; */
/*     max-height: 400; */
/*     max-width: 600; */
/* } */

.sssnext, .sssprev {
    width: 25px;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    background: url('/assets/images/arr.png') no-repeat;
}

.sssprev {
    left: 3%;
    background-position: 0 50%;
}

.sssnext {
    right: 3%;
    background-position: -40px 50%;
}

.sssprev:hover, .sssnext:hover {
    cursor: pointer;
}
 
