<html>
  <head>
    {% include head.html %}
    {% include meta_data.html %}

    {% css app %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body id="page">
    {% include nav_bar.html %}          
    <div class='container index'>
      <div class='row'>
        <div class='col-sm-8 center-block no-float jumbo-top'>
          <div class='top-margined centered'>
            <a href='/'><img src="/images/POM_Logo_v9_orange325b.png"></a>
          </div>
          {{ content }}
        </div>
      </div>
    </div>
    <div id="fb-root"></div>
    {% js app %}
  </body>
</html>
