<html>
  <head>
    {% include head.html %}
    {% css app %}
  </head>
  <body id="page">
    {% include nav_bar.html %}          
    <div class='container index'>
      <div class='row'>
        <div class='col-sm-8 center-block no-float jumbo-top'>
          <div class='top-margined centered'>
            <a href='/'><img src="/assets/images/POM_Logo_v9_orange325b.png" class='logo'></a>
          </div>
          {{ content }}
        </div>
      </div>
    </div>
    <div id="fb-root"></div>
    {% js app %}
  </body>
</html>
